# Configurações do sistema
VITE_APP_NAME=TaskFlow
VITE_APP_NAME_EMPRESA=Softcom Teresina
VITE_APP_VERSION=1.0.0

# Variaveis de ambiente para o Supabase
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_SERVICE_ROLE_KEY=
